<div class="layout">

  <!-- HEADER -->
  <header class="header">
    <div class="left-section">
      <button class="menu-btn" (click)="toggleSidebar()">☰</button>

      <!-- You can reuse same logo later -->
      <img src="railway-logo.jpg" class="logo" alt="Logo">

      <h2>Muster Supervisor</h2>
    </div>

    <div class="right-section">
      <span>Supervisor</span>
    </div>
  </header>

  <!-- SIDEBAR -->
  <aside class="sidebar" [class.closed]="!isSidebarOpen">
    <nav>
      <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="attendance" routerLinkActive="active">Attendance</a>
      <a routerLink="reports" routerLinkActive="active">Reports</a>
    </nav>
  </aside>

  <!-- CONTENT -->
  <main class="content" [class.expanded]="!isSidebarOpen">
    <router-outlet></router-outlet>
  </main>

</div>